// colors
$color_primary: #4C3594;
$color_black: #3a3a3a;
$color_gray: #aaa;
$color_darkGray: rgba(0, 0, 0, 0.5);
$color_white: #fff;
$color_secondary: #616060;
$color_danger: #ff7582;
// $color_muted:  #f7f7f7;
$color_muted:  #d4d4d4;
